<footer class="bg-gray-100 pt-12 pb-8 mt-12">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
        <!-- Company Info -->
        <div>
          <div class="mb-4">
            <img
              class="w-2/6 h-auto max-w-xs"
              src="/images/logo.png"
              alt="Logo"
            />
          </div>
          <p class="text-sm text-gray-600 mb-4">
            Your ultimate destination for premium casual, formal, and
            basketball jerseys.
          </p>
          <div class="flex space-x-4">
            <a href="#" class="text-gray-500 hover:text-gray-700">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-700">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-700">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-700">
              <i class="fab fa-youtube"></i>
            </a>
          </div>
        </div>

        <!-- Support -->
        <div>
          <h3 class="text-sm font-semibold text-gray-400 uppercase mb-4">
            SUPPORT
          </h3>
          <ul class="space-y-2">
            <li>
              <a href="#" class="text-gray-600 hover:text-gray-900">FAQ</a>
            </li>
            <li>
              <a href="#" class="text-gray-600 hover:text-gray-900"
                >Terms of use</a
              >
            </li>
            <li>
              <a href="#" class="text-gray-600 hover:text-gray-900"
                >Privacy Policy</a
              >
            </li>
          </ul>
        </div>

        <!-- Company -->
        <div>
          <h3 class="text-sm font-semibold text-gray-400 uppercase mb-4">
            COMPANY
          </h3>
          <ul class="space-y-2">
            <li>
              <a href="#" class="text-gray-600 hover:text-gray-900"
                >About us</a
              >
            </li>
            <li>
              <a href="#" class="text-gray-600 hover:text-gray-900"
                >Contact</a
              >
            </li>
            <li>
              <a href="#" class="text-gray-600 hover:text-gray-900"
                >Careers</a
              >
            </li>
          </ul>
        </div>

        <!-- Shop -->
        <div>
          <h3 class="text-sm font-semibold text-gray-400 uppercase mb-4">
            SHOP
          </h3>
          <ul class="space-y-2">
            <li>
              <a href="#" class="text-gray-600 hover:text-gray-900"
                >My Account</a
              >
            </li>
            <li>
              <a href="#" class="text-gray-600 hover:text-gray-900"
                >Checkout</a
              >
            </li>
            <li>
              <a href="#" class="text-gray-600 hover:text-gray-900">Cart</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Payment Methods -->
      <div class="mt-8 pt-8 border-t border-gray-200">
        <div class="flex flex-col md:flex-row justify-between items-center">
          <div class="mb-4 md:mb-0">
            <h3 class="text-sm font-semibold text-gray-400 uppercase mb-2">
              ACCEPTED PAYMENTS
            </h3>
            <div class="flex space-x-4">
              <svg
                class="w-10 h-10"
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="100"
                height="100"
                viewBox="0 0 48 48"
              >
                <path
                  fill="#3F51B5"
                  d="M45,35c0,2.209-1.791,4-4,4H7c-2.209,0-4-1.791-4-4V13c0-2.209,1.791-4,4-4h34c2.209,0,4,1.791,4,4V35z"
                ></path>
                <path
                  fill="#FFC107"
                  d="M30 14A10 10 0 1 0 30 34A10 10 0 1 0 30 14Z"
                ></path>
                <path
                  fill="#FF3D00"
                  d="M22.014,30c-0.464-0.617-0.863-1.284-1.176-2h5.325c0.278-0.636,0.496-1.304,0.637-2h-6.598C20.07,25.354,20,24.686,20,24h7c0-0.686-0.07-1.354-0.201-2h-6.598c0.142-0.696,0.359-1.364,0.637-2h5.325c-0.313-0.716-0.711-1.383-1.176-2h-2.973c0.437-0.58,0.93-1.122,1.481-1.595C21.747,14.909,19.481,14,17,14c-5.523,0-10,4.477-10,10s4.477,10,10,10c3.269,0,6.162-1.575,7.986-4H22.014z"
                ></path>
              </svg>
              <svg
                class="w-10 h-10"
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="100"
                height="100"
                viewBox="0 0 30 30"
              >
                <path
                  d="M 4 5 C 2.895 5 2 5.895 2 7 L 2 23 C 2 24.105 2.895 25 4 25 L 26 25 C 27.105 25 28 24.105 28 23 L 28 7 C 28 5.895 27.105 5 26 5 L 4 5 z M 4.8164062 12.347656 L 6.5332031 12.347656 L 8.8027344 17.443359 L 8.8027344 12.347656 L 10.839844 12.347656 L 12.427734 15.896484 L 14.021484 12.347656 L 16.095703 12.347656 L 16.095703 17.640625 L 14.798828 17.640625 L 14.798828 13.777344 L 13.019531 17.640625 L 11.839844 17.640625 L 10.103516 13.710938 L 10.103516 17.640625 L 7.4863281 17.640625 L 6.9726562 16.457031 L 4.3789062 16.457031 L 3.8710938 17.640625 L 2.5 17.640625 L 4.8164062 12.347656 z M 17.796875 12.347656 L 22.917969 12.347656 L 24.357422 14.001953 L 25.845703 12.359375 L 27.5 12.359375 L 25.173828 14.935547 L 27.482422 17.650391 L 25.833984 17.650391 L 24.310547 15.890625 L 22.751953 17.640625 L 17.796875 17.640625 L 17.796875 12.347656 z M 5.6425781 13.464844 L 4.8671875 15.314453 L 6.4492188 15.314453 L 5.6425781 13.464844 z M 19.078125 13.488281 L 19.078125 14.478516 L 21.943359 14.478516 L 21.943359 15.484375 L 19.078125 15.484375 L 19.078125 16.529297 L 22.072266 16.529297 L 23.501953 14.935547 L 22.238281 13.496094 L 19.078125 13.488281 z"
                ></path>
              </svg>
              <svg
                class="w-10 h-10"
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="100"
                height="100"
                viewBox="0 0 48 48"
              >
                <path
                  fill="#1565C0"
                  d="M45,35c0,2.209-1.791,4-4,4H7c-2.209,0-4-1.791-4-4V13c0-2.209,1.791-4,4-4h34c2.209,0,4,1.791,4,4V35z"
                ></path>
                <path
                  fill="#FFF"
                  d="M15.186 19l-2.626 7.832c0 0-.667-3.313-.733-3.729-1.495-3.411-3.701-3.221-3.701-3.221L10.726 30v-.002h3.161L18.258 19H15.186zM17.689 30L20.56 30 22.296 19 19.389 19zM38.008 19h-3.021l-4.71 11h2.852l.588-1.571h3.596L37.619 30h2.613L38.008 19zM34.513 26.328l1.563-4.157.818 4.157H34.513zM26.369 22.206c0-.606.498-1.057 1.926-1.057.928 0 1.991.674 1.991.674l.466-2.309c0 0-1.358-.515-2.691-.515-3.019 0-4.576 1.444-4.576 3.272 0 3.306 3.979 2.853 3.979 4.551 0 .291-.231.964-1.888.964-1.662 0-2.759-.609-2.759-.609l-.495 2.216c0 0 1.063.606 3.117.606 2.059 0 4.915-1.54 4.915-3.752C30.354 23.586 26.369 23.394 26.369 22.206z"
                ></path>
                <path
                  fill="#FFC107"
                  d="M12.212,24.945l-0.966-4.748c0,0-0.437-1.029-1.573-1.029c-1.136,0-4.44,0-4.44,0S10.894,20.84,12.212,24.945z"
                ></path>
              </svg>
            </div>
          </div>
          <div class="text-sm text-gray-500">
            © 2023 Etc. All rights reserved.
          </div>
        </div>
      </div>
    </div>
  </footer>