<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, initial-scale=0.8"
    />
    <title>Admin Dashboard</title>
    <!-- css file renderinggg -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles/admin/<%= cssFile %>.css" />
    <link rel="stylesheet" href="/styles/admin/admin_sidebar.css" />

    <!-- js file rendering... -->
    <script src="/js/admin/common.js" defer></script>
    <% if (js_file) { %>
    <script src="/js/admin/<%= js_file %>.js" defer></script>
    <% } %>
  </head>
  <body>
    <%- include('../partials/admin_sidebar') %> <%- body %>
  </body>
</html>
