<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                dark: '#0f172a',
              },
            },
          },
        };
      </script>
      <script src="/js/alert.js" defer></script>
      <!-------------------------- js---------------------------->
      <% if (js_file) { %>
       <script src="/js/user/<%= js_file %>.js" defer></script>
      <% } %>
 
</head>
<body class="bg-gray-100">
  <%- include('../partials/error_message') %>
    <header class="bg-white py-4 px-6 shadow-sm">
        <div class="container mx-auto flex items-center justify-center">
          <!-- Logo -->
          <div class="flex items-center">
            <img
              class="w-40 h-auto max-w-xs"
              src="/images/logo.png"
              alt="Logo"
            />
          </div>
        </div>
      </header>
    <%- body %>
    <%- include('../partials/footer') %>
</body>
</html>